.controller-bg {
  fill: var(--controller-fill);
}

.logo {
  color: var(--controller-outline);
}

.button-green {
  fill: var(--button-green);
}

.button-red {
  fill: var(--button-red);
}

.button-blue {
  fill: var(--button-blue);
}

.button-yellow {
  fill: var(--button-yellow);
}
