.link-container {
  list-style-type: none;
  padding: 0;
}

.nav-logo {
  width: 48px;
}

@media only screen and (max-width: 820px) {
  .bar-container {
    width: 100%;
  }
  .link-container,
  .nav {
    flex-direction: column;
  }
  .link-container {
    width: 100%;
    align-items: start;
  }
  .nav-logo {
    width: 32px;
  }
}
