@font-face {
  font-family: "monocraft";
  src: url("../fonts/monocraft.ttf") format("truetype");
}

:root,
[data-theme="dark"] {
  --background: black;
  --main: #11ff55;
  --ajui-link-color: #11ff55;
  --ajui-select-border: #11ff55;
  --ajui-focus-ring-color: #11ff55;
  --ajui-button-primary-background: #11ff55;
}

[data-theme="light"] {
  --background: white;
  --main: black;
  --ajui-link-color: black;
  --ajui-select-border: black;
  --ajui-focus-ring-color: black;
  --ajui-button-primary-background: black;
}

input {
  box-shadow: inset 0 0 0 1px var(--main) !important;
}

input::selection {
  background-color: #b2dbfa !important;
}

body {
  margin: 0;
  font-family: "monocraft", "Press Start 2P", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: var(--background);
  border-color: var(--main);
  color: var(--main);
}

* {
  border-radius: 0 !important;
  text-transform: uppercase !important;
}

.page-title-text {
  font-size: calc(2rem + 1vw);
  font-weight: 700;
}

.bordering {
  border: 2px solid red;
}

.w-70-90 {
  width: 70%;
}

.bg {
  background-color: var(--background);
}

@media only screen and (max-width: 768px) {
  .w-70-90 {
    width: 90%;
  }
}

p {
  line-height: 1.5;
}

.fg {
  flex-grow: 1;
}
